/* Genel stil ve UX optimizasyonu */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #212529, #343a40);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

/* Hesap makinesi kartı */
.calculator-container {
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: #2d3436;
}

/* İçerik düzeni */
.main-content {
    transition: margin-left 0.3s ease;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    padding: 10px;
}

/* Buton kategorileri */
.btn {
    padding: 15px;
    width: 70px;
    height: 60px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.2s ease, transform 0.1s ease, filter 0.2s ease;
    color: #ffffff;
}

/* Hover efekti: Yazı rengi korunuyor */
.btn:hover {
    transform: scale(1.03);
    filter: brightness(1.15);
    color: #ffffff;
}

.btn-outline-secondary {
    background-color: #3c3c3c;
}

.btn-outline-secondary:hover {
    background-color: #202020;
}

.btn-outline-primary {
    background-color: #202020;
}

.btn-outline-primary:hover {
    background-color: #466248;
}

/* 5 sütunlu düzeni sağla */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 0 0 20%; /* 5 sütun (100% / 5 = 20%) */
    max-width: 20%;
}

/* Responsive düzenlemeler */
@media (max-width: 768px) {
    .calculator-container {
        max-width: 450px;
        padding: 10px;
    }

    .btn {
        padding: 15px;
        width: 100%;
        height: 60px;
        font-size: 1rem;
    }

    .col {
        flex: 0 0 20%;
        max-width: 20%;
    }

    #display {
        font-size: 1.1rem;
    }
}

@media (max-width: 576px) {
    .calculator-container {
        max-width: 450px;
        padding: 10px;
    }

    .btn {
        padding: 2px;
        width: 100%;
        height: 50px;
        font-size: 16px;
    }

    .col {
        flex: 0 0 20%;
        max-width: 20%;
    }

    #display {
        font-size: 1rem;
    }
}
